@model WuphfWeb.Models.ChangePasswordModel

@{
    ViewData["Title"] = "Cambia Password";
}

<style>
    .log-in-card {
        width: 450px !important;
        height: 550px;
        top: 30%;
        background-color: #ffff;
        border-radius: 15px;
        text-align: center;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    }

    .form-label {
        font-size: 18px;
    }

    .my-btn {
        background-color: var(--Primary-Button) !important;
        color: #fff !important;
        width: 100%;
        height: 55px;
        border-radius: 15px !important;
    }

    .form-control {
        height: 55px;
        border-radius: 15px !important;
    }

    .my-cont {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .my-text {
        font-family: montserrat;
    }
</style>

<div class="py-5">
    <div class="my-cont">
        <div class="log-in-card py-5">
            <h1 class="titolo">CAMBIA PASSWORD</h1>
            <form class="py-4 px-5" asp-action="ChangePassword" method="post">
                <input asp-for="Username" value="@Model.Username" hidden />
                <div class="mb-4">
                    <label for="exampleInputEmail1" class="form-label my-text">Password attuale</label>
                    <input asp-for="CurrentPassword" type="password" class="form-control" placeholder="Password Corrente..." id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label my-text">Nuova password</label>
                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="Nuova Password..." id="exampleInputPassword1">
                </div>
                <div class="mb-5">
                    <label for="exampleInputPassword1" class="form-label my-text">Conferma password</label>
                    <input asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder="Conferma Password..." id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn my-btn my-text">CAMBIA</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
        <script>
            var navLink = document.getElementById("nav-profile");
            navLink.classList += " nav-link-active";
        </script>
}