@model ResetPasswordTokenModel

@{
    ViewData["Title"] = "Password Dimenticata";
}

<style>
    .log-in-card {
        width: 450px !important;
        height: 350px;
        top: 30%;
        background-color: #ffff;
        border-radius: 15px;
        text-align: center;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    }

    .form-label {
        font-size: 18px;
    }

    .my-btn {
        background-color: var(--Primary-Button) !important;
        color: #fff !important;
        width: 100%;
        height: 55px;
        border-radius: 15px !important;
    }

    .form-control {
        height: 55px;
        border-radius: 15px !important;
    }

    .my-cont {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .my-text {
        font-family: montserrat;
    }

    .my-link {
        color: var(--Primary-Button);
    }
</style>
<div class="py-5">
    <div class="my-cont">
        <div class="log-in-card py-5">
            <h1 class="titolo">Password dimenticata?</h1>
            <form class="py-5 px-5" method="post" asp-action="ResetPassword">
                <div class="mb-4">
                    <label for="exampleInputEmail1" class="form-label my-text">Username</label>
                    <input asp-for="Username" type="text" class="form-control" placeholder="Username..." id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn my-btn my-text" value="Submit">INVIA</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        var navLink = document.getElementById("nav-profile");
        navLink.classList += " nav-link-active";
    </script>
}